@charset "utf-8";

html, body {
    position: relative;
    height: 100%;
    text-align: center;
}

.dreambox{
	width: 93%;
	height: 100%;
	display: inline-block;
}


/* ------ nav ------ */
.burger {
	width: 36%;
	height: 100px;
	position: fixed;
	left: 3%;
	top: 1em;
	z-index: 11;
}

.burger_con{
	width: 20%;
	height: 32px;
	position: relative;
	background: url("../img/nav.png") no-repeat;
	background-size: 100% auto;
}

.menu{ 
	width: 32%;
	position: fixed;
	left: 3.5%;
	top: 6.5%;
	z-index: 11;
	display: none;
}
.menu li{
	width: 100%;
	height: 36px;
	line-height: 36px;
	text-align: center;
	color: #fff;
	font-size: 1.2rem;
	-moz-box-shadow:0 0 6px #fff inset;              
    -webkit-box-shadow:0 0 6px #fff inset;           
    box-shadow:0 0 6px #fff inset; 
	background: rgba(255,255,255,0.25);
	border-radius: 0;
	opacity: 1;
	display: inline-block;
}

.menu li:nth-child(1){
	display: none;
}

.menu li.swiper-pagination-bullet-active{
	text-shadow: 0 0 16px #ffffbe;
	color:#fff;
	font-weight: bold;
	font-size: 1.4rem;
}





.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #000;
    height: 100%;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.prolist{
    width: 100%;
	display: inline-block;
	position: relative;
}

.albumlist .swiper-slide span{
	width: 100%;
	text-align: left;
	color: #fff;
	font-size: 1.4rem;
	padding: 6px 0;
	display: inline-block;
}

.swiper-container-v {
    background: #000;
}


.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
	background: url("../img/arr_r.png") center no-repeat;
	background-size: 56% auto;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
	background: url("../img/arr_l.png") center no-repeat;
	background-size: 56% auto;
}





/* 6plus */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {

}

/* 6 */
@media only screen and (min-device-width: 375px) and (max-device-width: 410px) and (orientation: portrait) {
	
}

/* 5s */
@media handheld and (min-height:490px),screen and (max-height:510px) {
	
}

/* 4s */

@media handheld and (min-height:400px),screen and (max-height:420px) {

}






.arr{
	width: 6%;
	height: 32px;
	background: url("../img/arr_d.png") center no-repeat;
	background-size: 100% auto;
	position: absolute;
	left: 50%;
	bottom: 0%;
	margin: 0 0 0 -3%;
	z-index: 6;

	animation: arrAni 3s infinite;
	-moz-animation: arrAni 3s infinite; /* Firefox */
	-webkit-animation: arrAni 3s infinite; /* Safari and Chrome */
	-o-animation: arrAni 3s infinite; /* Opera */
}

.arrWhite{
	width: 8%;
	height: 32px;
	background: url("../img/d_arr.png") center no-repeat;
	background-size: 100% auto;
	position: absolute;
	right: 3%;
	top: 50%;
	margin: -16px 0 0 0;
	z-index: 6;

	animation: arrAniWhite 3s infinite;
	-moz-animation: arrAniWhite 3s infinite; /* Firefox */
	-webkit-animation: arrAniWhite 3s infinite; /* Safari and Chrome */
	-o-animation: arrAniWhite 3s infinite; /* Opera */
}

@keyframes arrAni{
	0%   { 
	    transform: translate3d(0, 0, 0);
	    opacity: .2;
	}
	80%   { 
	    transform: translate3d(0, -16px, 0);
	    opacity: 1;
	}
	100%   { 
	    transform: translate3d(0, 0, 0);
	    opacity: .2;
	}
}

@-moz-keyframes arrAni{
	0%   { 
	    -moz-transform: translate3d(0, 0, 0);
	    opacity: .2;
	}
	80%   { 
	    -moz-transform: translate3d(0, -16px, 0);
	    opacity: 1;
	}
	100%   { 
	    -moz-transform: translate3d(0, 0, 0);
	    opacity: .2;
	}
}

@-webkit-keyframes arrAni{
	0%   { 
		-webkit-transform: translate3d(0, 0, 0);
	    opacity: .2;
	}
	80%   { 
		-webkit-transform: translate3d(0, -16px, 0);
	    opacity: 1;
	}
	100%   { 
		-webkit-transform: translate3d(0, 0, 0);
	    opacity: .2;
	}
}

@-o-keyframes arrAni{
	0%   { 
	    -o-transform: translate3d(0, 0, 0);
	    opacity: .2;
	}
	80%   { 
	    -o-transform: translate3d(0, -16px, 0);
	    opacity: .1;
	}
	100%   { 
	    -o-transform: translate3d(0, 0, 0);
	    opacity: .2;
	}
}



/* arrWhite */
@keyframes arrAniWhite{
	0%   { 
	    transform: translate3d(0, 0, 0);
	    opacity: .2;
	}
	80%   { 
	    transform: translate3d(-16px, 0, 0);
	    opacity: 1;
	}
	100%   { 
	    transform: translate3d(0, 0, 0);
	    opacity: .2;
	}
}

@-moz-keyframes arrAniWhite{
	0%   { 
	    -moz-transform: translate3d(0, 0, 0);
	    opacity: .2;
	}
	80%   { 
	    -moz-transform: translate3d(-16px, 0, 0);
	    opacity: 1;
	}
	100%   { 
	    -moz-transform: translate3d(0, 0, 0);
	    opacity: .2;
	}
}

@-webkit-keyframes arrAniWhite{
	0%   { 
		-webkit-transform: translate3d(0, 0, 0);
	    opacity: .2;
	}
	80%   { 
		-webkit-transform: translate3d(-16px, 0, 0);
	    opacity: 1;
	}
	100%   { 
		-webkit-transform: translate3d(0, 0, 0);
	    opacity: .2;
	}
}

@-o-keyframes arrAniWhite{
	0%   { 
	    -o-transform: translate3d(0, 0, 0);
	    opacity: .2;
	}
	80%   { 
	    -o-transform: translate3d(0, -16px, 0);
	    opacity: .1;
	}
	100%   { 
	    -o-transform: translate3d(0, 0, 0);
	    opacity: .2;
	}
}















/* loading */

.loading{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .9);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.loadingCon span{
    padding: 12px 0;
    text-align: center;
    font-size: 1.5rem;
    color: #b8bec1;
    margin: 0 0 12px 0;
    font-family: Arial;
    display: inline-block;
}

.loader{
    width: 30px;
    height: 30px;
    transform: rotate(-90deg);
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
}

.loader .loader-inner{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    background: #fff;
    transform-origin: .2em 2em;
}
.loader .loader-inner:nth-child(1){
    -webkit-animation: loading 1s linear infinite;
    animation: loading 1s linear infinite;
}
.loader .loader-inner:nth-child(2){
    -webkit-animation: loading 1s linear .1s infinite;
    animation: loading 1s linear .1s infinite;
}
.loader .loader-inner:nth-child(3){
    -webkit-animation: loading 1s linear .2s infinite;
    animation: loading 1s linear .2s infinite;
}
.loader .loader-inner:nth-child(4){
    -webkit-animation: loading 1s linear .3s infinite;
    animation: loading 1s linear .3s infinite;
}
.loader .loader-inner:nth-child(5){
    -webkit-animation: loading 1s linear .4s infinite;
    animation: loading 1s linear .4s infinite;
}
@-webkit-keyframes loading{
    0%{
        box-shadow: 0 0 .025em .025em #fff;
        background-color: rgb(255,255,255);
    }
    100%{
        transform: rotateY(360deg) rotateZ(360deg);
        box-shadow: 0 0 .025em .025em #fecd50;
        background-color: rgb(254,205,80);
    }
}
@keyframes loading{
    0%{
        box-shadow: 0 0 .025em .025em #fff;
        background-color: rgb(255,255,255);
    }
    100%{
        transform: rotateY(360deg) rotateZ(360deg);
        box-shadow: 0 0 .025em .025em #fecd50;
        background-color: rgb(254,205,80);
    }
}










.cssload-loader {
    width: 60px;
    height: 6px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
    z-index: 100;
    top: 50%;
    margin: -3px 0 0 0;
}

.cssload-loader > div {
    content: " ";
    width: 6px;
    height: 6px;
    background: rgb(33,150,243);
    border-radius: 100%;
    position: absolute;
    animation: cssload-shift 2.3s linear infinite;
        -o-animation: cssload-shift 2.3s linear infinite;
        -ms-animation: cssload-shift 2.3s linear infinite;
        -webkit-animation: cssload-shift 2.3s linear infinite;
        -moz-animation: cssload-shift 2.3s linear infinite;
}
.cssload-loader > div:nth-of-type(1) {
    animation-delay: -0.46s;
        -o-animation-delay: -0.46s;
        -ms-animation-delay: -0.46s;
        -webkit-animation-delay: -0.46s;
        -moz-animation-delay: -0.46s;
}
.cssload-loader > div:nth-of-type(2) {
    animation-delay: -0.92s;
        -o-animation-delay: -0.92s;
        -ms-animation-delay: -0.92s;
        -webkit-animation-delay: -0.92s;
        -moz-animation-delay: -0.92s;
}
.cssload-loader > div:nth-of-type(3) {
    animation-delay: -1.38s;
        -o-animation-delay: -1.38s;
        -ms-animation-delay: -1.38s;
        -webkit-animation-delay: -1.38s;
        -moz-animation-delay: -1.38s;
}
.cssload-loader > div:nth-of-type(4) {
    animation-delay: -1.84s;
        -o-animation-delay: -1.84s;
        -ms-animation-delay: -1.84s;
        -webkit-animation-delay: -1.84s;
        -moz-animation-delay: -1.84s;
}



@keyframes cssload-shift {
    0% {
        left: -36%;
        opacity: 0;
        background-color: rgb(255,255,255);
    }
    10% {
        left: 0;
        opacity: 1;
    }
    90% {
        left: 100%;
        opacity: 1;
    }
    100% {
        left: 127%;
        background-color: rgb(254,205,80);
        opacity: 0;
    }
}

@-o-keyframes cssload-shift {
    0% {
        left: -36%;
        opacity: 0;
        background-color: rgb(255,255,255);
    }
    10% {
        left: 0;
        opacity: 1;
    }
    90% {
        left: 100%;
        opacity: 1;
    }
    100% {
        left: 127%;
        background-color: rgb(254,205,80);
        opacity: 0;
    }
}

@-ms-keyframes cssload-shift {
    0% {
        left: -36%;
        opacity: 0;
        background-color: rgb(255,255,255);
    }
    10% {
        left: 0;
        opacity: 1;
    }
    90% {
        left: 100%;
        opacity: 1;
    }
    100% {
        left: 127%;
        background-color: rgb(254,205,80);
        opacity: 0;
    }
}

@-webkit-keyframes cssload-shift {
    0% {
        left: -36%;
        opacity: 0;
        background-color: rgb(255,255,255);
    }
    10% {
        left: 0;
        opacity: 1;
    }
    90% {
        left: 100%;
        opacity: 1;
    }
    100% {
        left: 127%;
        background-color: rgb(254,205,80);
        opacity: 0;
    }
}

@-moz-keyframes cssload-shift {
    0% {
        left: -36%;
        opacity: 0;
        background-color: rgb(255,255,255);
    }
    10% {
        left: 0;
        opacity: 1;
    }
    90% {
        left: 100%;
        opacity: 1;
    }
    100% {
        left: 127%;
        background-color: rgb(254,205,80);
        opacity: 0;
    }
}






